<nav class="navbar-container">
  <div class="navbar-brand-container">
    <a routerLink="/dashboard" class="logo-link">
      <img src="images/logo.jpeg" alt="Logo" class="navbar-logo">
    </a>
  </div>
  <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">Tableau de bord</a>
  <a routerLink="/courses" routerLinkActive="active" class="nav-item">Cours</a>
  <a routerLink="/quizzes" routerLinkActive="active" class="nav-item">Quiz</a>
  
  <!-- Nouvel onglet lié à la route /assignments -->
  <a routerLink="/assignments" routerLinkActive="active" class="nav-item">Dépôts</a>
</nav>